---
layout: global.liquid
---

<div id="product-view">
  <img alt="" src="{{ image }}" height="959" width="640" />

  <form class="body">
    <h1>{{ title }}</h1>
    <p class="price">{{ price | money }}</p>
    <h2>Product Description</h2>
    <p>{{ description }}</p>
    <p>
      <label>
        Size
        <select name="Size">
          <option>Small</option>
          <option selected>Medium</option>
          <option>Large</option>
        </select>
      </label>
    </p>
    <p>
      #ADD TO CART#
    </p>
  </form>
</div>
